#app {
    padding: 2% 6%;
    margin: 0 auto;
}

a {
    color: #0e90d2;
    text-decoration: none;
    font-weight: normal;
}

[v-cloak] {
    display: none;
}

.empty-a {
    color: #333;
}

.empty-a:hover {
    color: #333;
}

.header-row {
    height: 30px;
}

.header-row a {
    cursor: pointer;
}

.el-tabs__item {
    font-weight: normal;
}

.visited-a:link {
    color: #0b618d;
}

.el-table .el-button + .el-button {
    margin-left: 0px;
}

.container-margin-top {
    margin-top: 2%;
}

.td-center {
    text-align: center;
}

.no-padding {
    padding: 0px;
}

.search_site {
    margin-top: 10px;
}

.container-margin-bottom {
    margin-bottom: 1.5%;
}

#search-input-container .el-button {
    width: 200px;
}

.search-input-filter {
    margin-top: 5px;
    font-size: 12px;
}

.search-input-filter a {
    margin-top: 5px;
    font-size: 12px;
    cursor: pointer;
}

#filter-dialog .el-dialog__body {
    padding-top: 0px;
}

.filter-message {
    margin-bottom: 10px;
}

.filter-action-container {
    margin-top: 4%;
    text-align: right;
}

#page-component-up {
    background-color: #fff;
    position: fixed;
    right: 100px;
    bottom: 150px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 0 6px rgba(0, 0, 0, .12);
    z-index: 5;
}

#page-component-up i {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    text-align: center;
    /* bottom: 10px; */
    top: 12px;
    position: relative;
    color: #409EFF;
}

#table-container {
    min-height: 500px
}

#table-container .el-pagination {
    padding-right: 0;
}

#table-container .btn-next {
    margin-right: 0;
}

#message {
    text-align: center;
    padding-top: 250px;
}

.date-normal {
    width: 100px;
}

.date-big {
    width: 180px;
}

.loadmore-loading {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
}

.loadmore-loading i {
    font-size: 16px;
}

.loadmore-loading span {
    font-size: 14px;
}

.busuanzi {
    text-align: center;
    font-size: 14px;
    margin-top: 1%;
}

#busuanzi_title {
    font-weight: bold;
}

.el-tag:hover {
    cursor: pointer;
}

.el-tab-small .el-tabs__item {
    padding-left: 15px;
    padding-right: 15px;
    line-height: 35px;
    height: 35px;
    font-size: 13px;
}

.el-table__row {
    font-size: 15px;
}

.button-more {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.more-action-title {
    text-align: center;
    margin-bottom: 0px;
}

.more-action-button {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.setting {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}

.setting .el-checkbox {
    margin-bottom: 0px;
}

.setting .el-checkbox__inner {
    margin-bottom: 2px;
}

.setting .el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #666;
}

.setting .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #666;
}

.setting .el-checkbox__input.is-checked .el-checkbox__inner, .setting .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #666;
    border-color: #666;
}