{
  "comments": false,
  "env": {
    "main": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": 7
            }
          }
        ],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-0"
      ]
    },
    "web": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ],
        "stage-0"
      ]
    }
  },
  "plugins": [
    "transform-runtime",
    "transform-es2015-modules-commonjs",
    "transform-async-to-generator"
  ]
}
