body {
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.logo {
    margin: 0 15px 15px 15px;
    display: flex;
    justify-content: center;
}

.logo img {
    height: 150px;
}

.link {
    color: #909399;
}

.copyright, .versions {
    color: #909399;
    font-weight: normal;
}
